@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
header{
  height: 90px;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 1px #33333387;
}
.summary{
  height: 90px;
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.navbar{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 5.8fr 0.5fr 0.4fr 1.4fr 0fr;
}
.main-nav{
  padding-top: 25px ;
}
.main-nav .underline{
  text-decoration: underline 2px;
}
.main-nav a{
  text-decoration: none;
  margin: 12px;
  font-size: 12px;
  font-weight: 600;
  color: #457be7;
}
.lang-it{
  margin-top: 13px;
}
.lang-en{
  margin-top: 22px;
}
.copartner{
  height: 45px;
  width: 130px;
  padding: 13px 18px;
  border-radius: 0  0 5px 5px;
  box-shadow: 2px 2px 4px 0px #333;
  background-color: #50adda;
}
.member{
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}
.contribute{
  height: 45px;
  width: 100px;
  padding: 13px 32px;
  border-radius: 0  0 5px 5px;
  box-shadow: 2px 2px 4px 0px #333;
  background-color: #2173c7;
}
.make_donation{
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}
                                                        
.slider-iniziative{                                                  /* Inizio pagina iniziative*/
  height: 500px;
  background-image: url(../img/foto_iniziative.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: flex-end;
}  
.head-img-iniziative{
  color: #ffffff;
  margin-bottom: 70px;
  background-color: rgba(43, 117, 181, 0.8);
  width: 260px;
  text-align: center;
  padding: 20px 0;
  border-radius: 0 20px 20px 0;
}
.page-content{
  width: 1300px;
  margin: 50px auto 0;
}
.post-content{
  display: flex;
  justify-content: space-around;
}
.preamble{
  padding: 50px 50px 0 0;
}
h2{
  font-size: 20px;
  padding-bottom: 40px;
  color: #2B75B5;
}
.preamble p{
  font-size: 18px;
  padding-bottom: 40px;
  color: #2B75B5;
}
hr{
  margin: 40px 0;
}
.item-story{
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-element{
  width: 500px;
  padding-top: 20px;
}
.item-element img{
  padding-bottom: 20px;
}
.item-element p{
  padding-bottom: 20px;
  font-size: 18px;
  color: #2B75B5;
}
.item-element a{
  font-size: 18px;
  text-decoration: none;
  float: right;
  color: #2B75B5;
  padding-bottom: 30px;
}                                                            /*Fine pagina iniziative*/

.slider-diario{                                              /* Inizio pagina diario*/
  height: 500px;
  background-image: url(../img/foto_diario.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
} 
.head-img-diario{
  color: #ffffff;
  background-color: rgba(43, 117, 181, 0.8);    
  width: 450px;
  text-align: center;
  margin-bottom: 50px;
  padding: 20px 0;
  border-radius: 20px 0 0 20px;
}
.interventi-diario{
 
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.interventi h2{
  font-size: 50px;
  margin-top: 40px;
  color: #ffffff;
  background-color: #2B75B5;    
  width: 700px;
  text-align: center;
  padding: 20px 0;
  border-radius: 0 30px 30px 0;
}
.interventi p{
  width: 1300px;
  margin: 80px auto;
  font-size: 20px;
  font-weight: 600;
  padding-left: 110px;
  color: #2B75B5;
}
.fascia-b-diario{
  max-width: 1300px;
  margin: 0 auto;
  height: auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fascia-colore-b-diario{
  background-color: #fff;
}
.blocco-diario{
  background-color: #1F538F;
  width: 300px;
  height: 485px;
}
.blocco-diario h3 {
  font-size: 25px;
  color: #ffffff;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}
.blocco-diario p{
  font-size: 12px;
  color: #ffffff;
  padding: 18px;
}
.blocco-diario img{
  width: 300px;
  height: 300px;
}
.blocco-diario a{
  font-size: 15px;
  text-decoration: none;
  float: right;
  padding-right: 30px;
  color: #fff;
}
.eventi-diario{
  background-color: #d9f0fb87;
  padding-top: 20px;
  padding-bottom: 20px;
}
.eventi h2{
  font-size: 50px;
  margin-top: 40px;
  color: #2B75B5;
  background-color: #ffffff;    
  width: 700px;
  text-align: center;
  padding: 20px 0;
  border-radius: 0 30px 30px 0;
}
.eventi p{
  width: 1300px;
  margin: 80px auto;
  font-size: 20px;
  font-weight: 600;
  padding-left: 110px;
  color: #2B75B5;
}
.formazione-diario{
  background-color: #9dc2eee6;
  padding-top: 20px;
  padding-bottom: 20px;
}
.formazione h2{
  font-size: 50px;
  margin-top: 40px;
  color: #2B75B5;
  background-color: #ffffff;    
  width: 700px;
  text-align: center;
  padding: 20px 0;
  border-radius: 0 30px 30px 0;
}
.formazione p{
  width: 1300px;
  margin: 80px auto;
  font-size: 20px;
  font-weight: 600;
  padding-left: 110px;
  color: #2B75B5;
}                                                          /* Fine pagina diario*/


footer{
  background-color: #2B75B5;
  height: 300px;
}

/* nascondo di default il menu hamburger */
.menu_responsive{
  display: none;
  display: block;
}
.fascia-footer{
max-width: 1300px;
margin: 0 auto;
height: auto;
display: flex;
justify-content: space-between;
align-items: center;
}


.blocco-footer{
  width: 240px;
  height: 150px;
  background-color: #0064959e;
  color: #ffffff;
  padding: 20px 47px;
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.6);
}

.blocco-footer p{
  padding-top: 10px;
  font-size: 10px;
}
.blocco-footer ul{
  font-weight: 600;
  padding: 10px 16px;
}
.blocco-footer-copartner{
  flex-direction: column;
  text-align: center
  
}
.blocco-footer-folder{
  width: 240px;
  height: 75px;
  padding-top: 25px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.6);
  background-color: #1F538F;
  color: #ffffff;
}
.blocco-footer-file{
  width: 240px;
  height: 75px;
  padding-top: 25px;
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.6);
  background-color: #0064959e;
  color: #ffffff;
}
.blocco-footer-folder a, .blocco-footer-file a{
  font-size: 18px;
}
.blocco-footer-last{
  text-align: center;
  width: 280px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.6);
}
.private p{
  padding-top: 60px;
  font-size: 15.5px;
  text-align: center;
  color: #fff;
}

/* STILE PAGINA CONTATTI */

#slider_contatti{
  height: 500px;
  background-image: url(../image/Contatti\ sfondo.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.6);
  align-items: center;
  text-align: right;
}

.head-img-contatti{
  color: #ffffff;
  min-width: 540px;
  font-size: 52px;
  font-weight: bold;
  background-color: rgba(43, 117, 181, 0.8);
  width: 40%;
  height: 120px;
  padding-top: 3vh;
  border-radius: 0 40px 40px 0;
  text-align: center;
}

/* SEDI */

.mappa_italia{
  background-image: url(..image/chief_logo.svg);
  width: auto;
  height: 800px;
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
}

#sedi{
  width: auto;
  height: auto;
  z-index: 1;
  position: absolute;
  left: 5%;
  margin-top: 5%;
  font-size: 3rem;
  color: var(--azzurro_medio);
}

#italia_svg{
  opacity: 80%;
}
#logo_svg{
  opacity: 10%;
 max-width: -webkit-fill-available;
}

/* FORM */

.form{
width: auto;
height: 600px;
background-color: var(--azzurro_chiaro);
flex-direction: column;
justify-content: space-around;
}
.form h4{
  color: #fff;
  padding: 24px;
  font-size: 1rem;
  font-style: italic;
}
.form h1{
  color: var(--azzurro_scuro);
  min-width: 540px;
  font-size: 52px;
  font-weight: bold;
  background-color: #fff;
  width: 40%;
  height: 120px;
  padding-top: 3vh;
  border-radius: 0 40px 40px 0;
  text-align: center;
}

#stile_form{
  margin: 0 auto;
  justify-content: space-around;
  align-items: stretch;
}

#stile_form, input{
  width: 400px;
  height: 26px;
}

/* STILE FASCIA FOOTER */

.fascia_footer{
width: auto;
height: auto;
display: flex;
justify-content: space-evenly;
text-decoration: none;
color: #fff;
}

.fascia_footer li{
  font-size: 1em;
}

.blocco_chief{
  width: 18%;
  height: 220px;
  background-color: var(--azzurro_scuro);
  padding: 24px;
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.6);
  font-size: 1em;
  overflow: hidden;
}

.blocco_sedi{
  width: 18%;
  height: 220px;
  background-color: var(--azzurro_scuro);
  padding: 24px;
  border-radius: 0 0 20px 20px;
}

.blocco_soci{
  width: 18%;
  height: 220px;
  background-color: var(--azzurro_scuro);
  padding: 24px;
  border-radius: 0 0 20px 20px;
}

#blocco_soci_dona{

  padding: 20px;
}

.blocco_loghi{
  text-align: center;
  width: 18%;
  height: 220px;
  background-color: #ffffff;
  border-radius: 0 0 20px 20px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.6);
}
.blocco_loghi img{
  height: 10vw;
}

#privacy_cookie p{
margin-top: 26px;
font-size: 14px;
color: var(--testo_bianco);
text-align: center;
}

#privacy_cookie a{
  text-decoration: none;
  color: var(--testo_bianco);
}

/*PAGINA CHI SIAMO*/
#cs-slider{
  height: fit-content;
  background-image: url(/cs-image/javier-allegue-barros-i5Kx0P8A0d4-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.6);
  border-radius: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
.cs-slider-img{
  background-color: rgba(43, 117, 181, 0.8);
  padding: 2rem 20% 2rem 0;
  border-radius: 0 70px 70px 0;
}
#cs-slider h2{
  color: #ffffff;
  font-size: 5rem;
  margin-left: 8rem;
}
.cs-mission{
  padding-top: 2rem;
  padding-bottom: 5rem;
  height: max-content;
}
.cs-mission img{
  height: 35rem;
}
.cs-mission h3, .mission h3{
  display: none;
}
.cs-mission-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: end;
}
.cs-mission-right img{
  height: 300px;
  padding-top: 5rem;
}
#cs-fascia-consiglio{
  height: fit-content;
  background-color: #d2f2ff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px;
  flex-wrap: wrap;
}

#cs-fascia-consiglio h3{
  color: #2B75B5;
  padding: 2rem 5% 2rem 0;
  font-size: 4rem;
  background-color: #ffffff;
  box-shadow: 1px 1px 4px 0 rgba(255, 255, 255);
  border-radius: 0 70px 70px 0;
  padding-left: 8rem;
}

#cs-fascia-consiglio article{
  padding-top: 2rem;
  padding-left: 8rem;
}

#cs-organigramma{
  display: flex;
  flex-basis: 70%;
  flex-direction: row;
  margin-top: 2rem;
  padding-left: 8rem;
}
#cs-organigramma article{
  padding-left: 2rem;
}
#cs-organigramma p{
  padding-top: 1rem;
  font-style: italic;
  line-height: 1.5rem;
}
#cs-organigramma h4{
  color:#0977d4;
  font-size: 1.5rem;
}
#cs-organigramma img, #cs-consiglio img{
  border-radius: 50%;
  max-width:250px;
  max-height: 250px;
  padding-bottom: 1rem;
}
#cs-consiglio{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8rem;
}
#cs-consiglio>div{
  padding: 1rem 3rem;
  text-align: center;
}
#cs-consiglio p{
  font-weight: bold;
  font-size: larger;
}

#cs-partners{
  background-color: #9fd4f1;
  height: fit-content;
}
#cs-partners-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#cs-partners h3{
  color: #2B75B5;
  padding: 2rem 5% 2rem 0;
  font-size: 4rem;
  background-color: #ffffff;
  box-shadow: 1px 1px 4px 0 rgba(255, 255, 255);
  border-radius: 0 70px 70px 0;
  padding-left: 8rem;
}
#cs-partners p{
  margin: 8rem;
}
#cs-partners span{
  line-height: 5rem;
  font-weight: bolder;
}
#flex-partners{
display: flex;
flex-direction: row;
align-items: baseline;
justify-content: center;
margin: 0 3rem;
padding-bottom: 5rem;
}
#partners{
  display: flex;
  flex-direction: column;
  color: #1F538F
}
#partners p{
  margin: 1rem;
  text-align: center;
}
#partners h4{
  text-align: center;
}
#partners img{
  max-width: 20rem;
  align-self: center;
  padding-bottom: 5rem;
}

@media (max-width: 767px){
  #cs-slider{
    padding-top: 15rem;
    display: flex;
  }
  #cs-slider h2{
    color: #ffffff;
    font-size: 3rem;
    margin-left: 2rem;
  }
  .fascia-a{
    max-width: 767px;
  }
  .cs-mission, .mission{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .cs-mission img{
    display: none;
  }
  .cs-mission h3, .mission h3{
    display: inline;
    font-size: 5rem;
    color: #1F538F;
  }
  .descrizioni p{
    padding: 2rem;
  }
  #cs-fascia-consiglio h3, #cs-partners h3{
    font-size: 3rem;
    padding: 2rem 1% 2rem 2rem;
  }
  #cs-fascia-consiglio article {
    padding: 2rem;
    text-align: center;
  }
  #cs-organigramma {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #cs-consiglio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  #cs-consiglio>div {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
  }
  #cs-partners{
    padding-top: 2rem;
  }
  #cs-partners-title{
    display: inline;
    padding-top: 2rem;
  }
  #cs-partners p {
    margin: 2rem;
    text-align: center;
  }
  #flex-partners{
    flex-direction: column;
  }
}

*/COSA FACCIAMO/*
#immagine_testata{
  margin-top: 150px;
  height: 800px;
  background-image: url(../image/05_restauroconservativo.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.6);
  border-radius: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;

}
h1{
  font-size:larger;
  color: white;
  margin-top: -150px;
  margin-left: 1000px;
  background-color: #2562a8;
  border-radius: 0  0 5px 5px;
}
footer{
  margin-top: 200px;
  background-color: #2b75b5;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  
}
li{
  margin-top: 10px;
}
#blocco1{
  height: 200px;
  width: 200px;
  font-size: 12px;
  color: white;
  margin: 40px 40px 40px 40px;
  background-color: #2562a8;
  border-radius: 0  0 5px 5px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.6);
}
#interno1{
  height: 130px;
  width: 150px;
  padding: 8px;
  margin-left: 5px;
  background-color: #2562a8;
}


#blocco2{
  height: 200px;
  width: 200px;
  font-size: 12px;
  color: white;
  margin: 40px 40px 40px 40px;
  background-color: #2562a8;
  border-radius: 0  0 5px 5px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.6);
}
#interno2{
  height: 130px;
  width: 100px;
  padding: 8px;
  margin-left: 5px;
  text-align: center;
}


#blocco3{
  height: 200px;
  width: 200px;
  font-size: 12px;
  color: white;
  margin: 40px 40px 40px 40px;
  background-color: #2562a8;
  border-radius: 0  0 5px 5px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.6);
}
#interno3 img{
  height: 130px;
  width: 100px;
  padding: 8px;
  margin-left: 5px;

}

#contenitore_testo  {
margin-top: 300px;
display: flex;
justify-content: center;
align-items: space-around;

}

p, a{
  font-size: 12px;
  color: white;

 
}
*/fine cosa facciamo/*
